style(type='text/css').
    .carousel{
    width:640px;
    }

extends layout

block content


    
    #myCarousel.carousel.slide(data-ride='carousel')
    
      .carousel-inner
        .carousel-item.active
          img.first-slide(src='images/stanleyparkresize.jpg', alt='First slide', width= '100%')
          .container
            


   
    //
      Marketing messaging and featurettes
      ==================================================
    // Wrap the rest of the page in another container to center all the content.
    .container.marketing
        // /.col-lg-4
        // /.row
        // START THE FEATURETTES
        hr.featurette-divider
        .row.featurette
          .col-md-7
            h2.featurette-heading
              |Kevin is a director from Western  
              span.text-muted 
            p.lead
                |Massachusetts, currently living in Los Angeles. He is pursuing a graduate degree at USC School of Cinematic Arts.
          .col-md-5
            img.featurette-image.img-fluid.mx-auto(src='images/AboutMeresize.jpg', alt='Generic placeholder image')
        hr.featurette-divider
        .row.featurette
          .col-md-7.order-md-2
            h2.featurette-heading
              | While earning his BA at the University of
            p.lead
              |Massachusetts Amherst, Kevin had the experience of studying abroad for a 
              |semester at the Film & TV School of the Academy of Performing Arts in Prague (FAMU).
              |He credits this semester for having a monumental impact on his filmmaking style, by
              |incorporating elements of European cinema into his own works.
          .col-md-5.order-md-1
            img.featurette-image.img-fluid.mx-auto(src='images/houseviewshot.jpg', alt='Generic placeholder image')
        hr.featurette-divider
        .row.featurette
          .col-md-7
           
        // /END THE FEATURETTES
        // /.container
        // FOOTER
     
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
       