extends layout

block content

    #myCarousel.carousel.slide(data-ride='carousel')
    
      .carousel-inner
        .carousel-item.active
          img.first-slide(src='images/ContactMeresize.jpg', alt='First slide', width= '100%')
          .container
    .container
      .py-5.text-center
        h2 Contact Kevin
        p.lead Fill out the forum below, connect on <a href="https://www.linkedin.com/in/kevin-middleton/"  target="_blank">linkedin</a>  and see more work on <a href="https://www.imdb.com/name/nm9886221/?ref_=tt_ov_dr" target="_blank">IMDB</a> 
      
          form.needs-validation(action="/addpost" method="post" enctype="multipart/form-data")
            h4.mb-3
              .row 
                  label(for='name') Name
                  input#firstName.form-control(name="ct_name", type='text', placeholder='Marcus Aurelius', value='', required='')
                  .invalid-feedback
                    | Valid first name is required.
                  
                  label(for='subject') Subject
                  input#lastName.form-control(name="ct_subject", type='text', placeholder='The Fall of Rome', value='', required='')
                  .invalid-feedback
                    | Valid last name is required.
                  
                  label(for='email') Email
                  input#lastName.form-control(name="ct_email", type='text', placeholder='EmperorOfRome@AGuyDeliveringThisOnAHorse.com', value='', required='')
                  .invalid-feedback
                    | Please enter a valid email address.
                  
                  label(for='message') Message
                  input#lastName.form-control(name="ct_message", type='text', placeholder="Please send us reinforcements frantically, we're completely surrounded", value='', required='')
                  
              hr.mb-4
              button.btn.btn-primary.btn-lg.btn-block(type='submit' onclick='insertrecord()') Submit Message