
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='images/favicon.PNG')
    link(rel='stylesheet', href='fontawesome.min.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='stylesheets/frontpage.css')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')

    title K Middleton Film
    
    style(type='text/css').
        .navbaropq{
        border: none;
        border-radius: 0;
        width:100%;
        background-color: rgba(0,0,0,0.5);
        }
        .opacity{
        opacity: 0.6;
        }
        body {
        overflow: hidden;
        }
  body.text-center
    nav.navbar.navbar-expand.navbar-dark.bg-dark.opacity
          a.navbar-brand(href='/') Kevin Middleton | Director
          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample02', aria-controls='navbarsExample02', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarsExample02.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link.text-white(href='/projects')
                  | Projects 
                span.sr-only (current)
              li.nav-item
                a.nav-link.text-white(href='/about') 
                  | About
              li.nav-item
                a.nav-link.text-white(href='/contact') 
                  | Contact
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      header.masthead.mb-auto
        main.inner.cover(role='main')
        h1.main-title.from-top(style={color: 'white'}) Opps
        h2.subtitle.from-bottom(style={color: 'white'}) We had an error
        p.lead(style={color: 'white'})
        .inner
    
         
        p.lead
          a.btn.btn-lg.btn-outline-light(href='/projects') Continue to Site

    .video-background
        .video-foreground
            iframe(src='https://player.vimeo.com/video/262433815?api=1&autoplay=1&&background=1&mute=1&loop=1')


      footer.mastfoot.mt-auto
        .inner
          p
           
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-84461504-2')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);} 
      gtag('js', new Date()); 
      gtag('config', 'UA-84461504-2');


