extends layout

block content

 .container-fluid
      iframe(src="https://player.vimeo.com/video/213540285?api=1&background=0&mute=0&loop=0&autoplay=0", width="1240" height="720", frameborder='0')
 .container
      .py-5.text-center
        h2 I hear waves - (Spring, 2017)
        p.lead I hear waves is an experimental documentary about the fragility of time, using my family’s annual beach trips as a measure. It was created as my first semester project for my Documentary Film Production course, at the University of Massachusetts Amherst.