doctype html
html
  head
    title= title
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
  body
    header
      nav.navbar.navbar-expand.navbar-dark.bg-dark
        a.navbar-brand(href='/') Kevin Middleton | Director
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarsExample02', aria-controls='navbarsExample02', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarsExample02.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/projects')
                | Projects 
              span.sr-only (current)
            li.nav-item
              a.nav-link(href='/about') 
                | About
            li.nav-item
              a.nav-link(href='#') 
                | Contact
      .container
      block content
      br
      hr
      footer

