extends layout

block content

 .container-fluid
      iframe(src="https://player.vimeo.com/video/224070831?api=1&background=0&mute=0&loop=0&autoplay=0", width="1240" height="720", frameborder='0')
 .container
      .py-5.text-center
        h2 The Fisherman (Spring, 2016)
        p.lead While studying abroad at the Film and Television Academy of the Performing Arts in Prague (FAMU), The Fishermen was created as a semester-long final project. It was shot on 16mm film, and shot entirely in Prague.