extends layout

block content

 .container-fluid
      iframe(src="https://player.vimeo.com/video/270745362?api=1&background=0&mute=0&loop=0&autoplay=0", width="1240" height="720", frameborder='0')
 .container
      .py-5.text-center
        h2 Welcome Home - (Spring 2017)
        p.lead Kevin was brought on by the Residential Life department at the University of Massachusetts Amherst, to create a short video for incoming students showing off the overwhelming sense of community at the school.